* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(#b714cc, #2b32b2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    color: #ffffff;
    font-size: 7rem;
}
h3 {
    color: aliceblue;
    font-size: 2rem;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 2rem;
    text-decoration: none;
    color: #fff;

}
a:hover {
    text-decoration: underline;
    font-size: 2.05rem;
}
a:active {
    color: #fff;
}

a:visited {
    color: rgb(193, 194, 255);
}
